body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Public Sans;
    font-weight: 400;
}
button {
    height: 38px;
    background: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: white;
}
#menu {
    border: 2px solid;
    width: 80%;
    align-self: center;
    text-align: center;
    display: none;
    position: absolute;
    background-color: white;
    margin-top: 100px;
}
#menu.active {
    display: block; /* Show the pop-up when active */
}
.blur-background {
    filter: blur(5px);
    pointer-events: none; /* Prevent interactions with the blurred background */
  }
#menu ul {
    /* border: 2px solid salmon; */
    list-style: none;
    display: inline;
    margin: 15px;
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}
.menu-li {
    padding: 5px;
}
header {
    display: flex;
    justify-content: center;
}
#head-ham {
    display: none;
}
header .container {
    width: 80%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    padding-top: 30px;
    padding-bottom: 30px;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    align-self: center;
}
header a {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}
#showcase {
    background-color: rgb(250,250,250);
    height: 780px;
    display: flex;
    justify-content: center;
}
#showcase .container{
    margin-left: 10%;
    /* border: 2px solid; */
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
}
#showcase-img {
    background-image: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: left bottom;
    /* background-image: url('./images/bg-intro-desktop.svg'); */
    width: 60%;
    flex-grow: 1;
    flex-shrink: 1;
}

#showcase-text {
    width: 40%;
    height: 100%;
    /* border: 2px solid salmon; */
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
#showcase-text h1 {
    font-size: 60px;
    color: hsl(233, 26%, 24%);
    margin-bottom: 15px;
}
#showcase-text p {
    font-size: 18px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}

#why {
    background-color: rgb(244,245,247);
}

#why .container {
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 80%;
    margin-left: 10%;
}
.why-top {
    /* border: 2px solid salmon; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 30%;
    /* margin-top: 40px; */
    /* margin-bottom: 30px; */
}
.why-top h1 {
    font-size: 35px;
    color: hsl(233, 26%, 24%);
}
.why-top p {
    font-size: 18px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
.why-bottom {
    /* border: 2px solid salmon; */
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    /* margin-left: 10%; */
    /* margin-bottom: 40px; */
}
.why-reason {
    /* border: 2px solid; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.why-reason h2 {
    font-size: 20px;
    color: hsl(233, 26%, 24%);
}
.why-reason p {
    font-size: 16px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
.why-reason img {
    height: 60px;
    width: 60px;
}
#articles {
    background-color:  rgb(250,250,250);
}
#articles .container {
    height: 780px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
    text-align: flex-start;
    margin-left: 10%;
}
#articles h1 {
    font-size: 35px;
    color: hsl(233, 26%, 24%);
}
.articles-body {
    display: flex;
    justify-content: space-between;
}
.articles-body img {
    width: 100%;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    margin: 5px;
}
.article h2 {
    font-size: 18px;
    font-weight: 300;
    color: hsl(233, 26%, 24%);
}
.article span {
    font-size: 12px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
.article p {
    font-size: 14px;
    font-weight: 300;
    color: hsl(233, 8%, 62%);
}
.article .text-container {
    margin: 10px;
}

footer {
    /* border: 2px solid greenyellow; */
    background-color: rgb(45,49,77);
    color: hsl(235, 15%, 84%);
    /* min-height: 18%; */
    display: flex;
    justify-content: center;
}
footer .container {
    /* border: 4px solid white; */
    width: 80%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.foot-left {
    height: 80%;
    width: 50%;
    /* border: 2px solid skyblue; */
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.foot-right {
    height: 80%;
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.left-col-1, .left-col-2, .left-col-3 {
    /* border: 2px solid salmon; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* line-height: auto; */
}
#inverted-easybank-logo {
    filter: invert(100%);
}
.right-col-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
footer ul {
    list-style: none;
}
footer li {
    padding: 8px;
    font-weight: 300;
    list-style: none;
}
.foot-right span {
    color: hsl(233, 8%, 62%);
}

@media screen and (max-width: 480px) {
    #showcase {
        margin: 0;
        padding: 0;
    }
    #showcase .container {
      flex-direction: column-reverse;
      align-items: center;
      margin-left: 0;
    }
  
    #showcase-img {
      width: 100%;
      order: 2;
      overflow: hidden;
      background-position: center;
    }
    #showcase-img img {
        width: 100%;
        height: auto;
      }
    #showcase-text {
      text-align: center;
      align-items: center;
      width: 90%;
      order: 1;
    }
    .why-top, .why-reason {
      text-align: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
    }
    #showcase-text h1 {
        font-size: xx-large;
    }
    #why .container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 10%;
      }
    
      .why-bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px; /* Add margin to create space between the why-bottom divs */
      }

      #articles .container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin-left: 10%;
      }
      .articles-body {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px; /* Add margin to create space between the why-bottom divs */
      }
      footer {
        text-align: center;
        width: auto;
      }
      footer .container {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 10%;
      }
      .foot-left, .foot-right,.left-col-1, .left-col-2, .left-col-3, .right-col-1 div {
        text-align: center;
        width: 100%;
        /* align-self: center;s */
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 10px;
        margin-bottom: 10px;
      }
      #head-nav, #head-request-btn {
        display: none;
      }
      #head-ham {
        display: block;
      }
  }